$color-dark-teal: #003D52;
$color-ocean: #007A8D;
$color-topaz: #18ACC4;
$color-bright-cyan: #50D3E8;
$color-light-blue-gray: #BAE2E8;
$color-orangey-brown: #B35900;
$color-orange: #EF650B;
$color-tangerine: #F6921E;
$color-orange-yellow: #FC9F00;
$color-brownish-orange: #DE9E1F;
$color-pale-orange: #F8B261;
$color-golden-yellow: #FCC419;
$color-sunflower: #FDCB13;
$color-canary-yellow: #FFED45;
$color-egg-shell: #FFF3BF;
$color-dark-sea-green: #148246;
$color-leafy-green: #50B43C;
$color-light-sage: #BEE6B4;
$color-deep-red: #990000;
$color-rouge: #9B1722;
$color-tomato: #DC1414;
$color-coral-pink: #FF585D;
$color-light-salmon:  #FAAA96;
$color-light-peach: #FFD0C7;
$color-outer-space: #1F2D30;
$color-cape-cod: #3B4749;
$color-pale-sky: #5E686A;
$color-aluminium: #82898B;
$color-gull-gray: #A6ABAC;
$color-iron: #CACDCE;
$color-zircon: #EEEFEF;
$color-alabaster: #FBFBFB;
$color-white: #FFFFFF;
$color-facebook: #1877F2;
$color-google: #4285F4;
$color-instagram: #C13584;
$color-linkedin: #0A66C1;
$color-slack: #4A154B;
$color-twitter: #1DA1F2;
$color-whatsapp:  #25D366;
$color-youtube: #FF0000;

$success: $color-light-sage;
$success-darker: $color-leafy-green;
$success-lighter: $color-dark-sea-green;

$warning: $color-egg-shell;
$warning-darker: $color-golden-yellow;
$warning-lighter: $color-orangey-brown;

$danger: $color-tomato;
$danger-darker:  $color-deep-red;
$danger-lighter: $color-light-salmon;

$primary: $color-ocean;
$primary-darker: $color-dark-teal;
$primary-lighter: $color-topaz;

$secondary: $color-coral-pink;
$secondary-darker: $color-tomato;
$secondary-lighter: $color-light-salmon;

$white: #fff;
$gray-lightest: $color-alabaster;
$gray-lighter: $color-zircon;
$gray: #ccc;
$gray-darker: $color-pale-sky;
$gray-darkest: $color-cape-cod;
$black: #151616;

$background: #fafaf9;
